@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}
/*------------------  */
.alert{
  font-size: 15px;
  letter-spacing: 0.3px;
  padding: 18px 24px;
  
}
[data-notify="icon"]{
  color: #fff;
  margin-right: 5px;
}
.alert.alert-introduccion {
    background: #eb0998!important;
    color: #FFF!important;
}
.alert.alert-danger {
    background: #04b513!important;
    color: #FFF!important;
}
.alert.alert-warning {
    background: #026156!important;
    color: #FFF!important;
}
.alert.alert-success {
    background: #f2b40c!important;
    color: #FFF!important;
}
.alert.alert-info {
    background: #0d81f5!important;
    color: #FFF!important;
}
.alert.alert-secondary {
    background: #cac81b!important;
    color: #FFF!important;
}
.alert .close {
    color: #FFF;
    opacity: 1;
    top: -4px;
    text-shadow: none;
    font-weight: 400;
    font-size: 24px;
}