.backB {
  margin-top: 2vh;
}

.introduccion{
  margin-top: 5vh; 
  margin-bottom: 7vh;
}

.salud {
  display: flex;
  align-self: right;
  align-content: right;
}

.IconImg{
  width: 17vh;
  height: 17vh;
  border-radius: 90vh;
  box-shadow: 5px 5px 9px #9d9d9d, -5px -5px 9px #ffffff;
  -webkit-border-radius: 90vh;
  -moz-border-radius: 90vh;
  -ms-border-radius: 90vh;
  -o-border-radius: 90vh;
}

.terceros {
  display: flex;
  align-self: center;
  align-content: center;
  margin-right: 5vh !important;
}
.backImg {
  width: 13vh;
  height: 13vh;
  border-radius: 90vh;
  background: linear-gradient(145deg);
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
img {
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.giro{
  transform: translateX(0px) rotateZ(0deg);
  /*transition: transform 0.5s ease-out;*/
  animation: rotar 2s linear infinite;
}
@keyframes rotar {
  100% {
    transform: translateX(0px) rotateZ(360deg);
  }
}

img:hover {
  transform: scale(1.3);
  margin-bottom: 2vh;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.footerImg {
  width: 13vh;
  height: 13vh;
  border-radius: 90vh;
  box-shadow: 5px 5px 9px #9d9d9d, -5px -5px 9px #ffffff;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.lienzo {
  height: 21vh;
}
@media (max-width: 575.98px) {
  .salud {
    display: flex;
    justify-content: center;
  }
  .lienzo {
    height: 0vh;
  }
  .back,
  .backImg,
  a {
    display: flex;
    justify-content: center;
  }
  .backImg {
    width: 13vh;
    height: 13vh;
  }
  .IconImg {
    width: 16vh;
    height: 16vh;
  }
 
  .footerImg {
    width: 13vh;
    height: 13vh;
  }
  h4 {
    font-size: 2vh;
  }
  .introduccion{
    margin-top: 1vh;
    margin-bottom: 0vh; 
}


